<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
    <title>This is Ludichris</title>
</head>
<body>
    <header>
        <nav>
            <div class="font-effect">
                <div class="logo">
                    <h4> This is Ludichris </h4>
                </div>
            </div>
            <ul class="nav_links">
                <button id="about_me_button">What is? Who?</button>
                <button id="blog_button">Blog</button>
                <button id="playlist_button">Playlist</button>
                <button id="get_in_touch_button">Get in touch</button>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </header>

    <div id="content"></div>
    <script src="js/eventHandler.js"></script>
</body>
</html>
